---
http_interactions:
- request:
    method: get
    uri: https://api.tcgplayer.com/catalog/products/85737,186015,124063,45147,42428,42429,106520,106525,44422,44424,106522,106524,44429,44430,44431,44432,108646,44434,44435,44436,44437,44438,44439,44440,106530,44446,44447,44448,44449,44450,44451,44452,44442,44445,44457,44458,44459,44460,44462,44463,44464,44455,44461,124037,124050,121005,120990,120992,121014,121015,121008,121125,121130,121141,121186,121135,121205,121210,121227,121228,201173,201175,201197,201209,201227,201242,201245,201246,201240,201255,201248,201267,201150,201154,201158,201145,201177,201169,201176,201288,201301,201302,201322,201315,201308,108647,108645,42431,138627,234169,253364,44427,44443,44456,197644,197646,197650,42432,197665,42434,197670,197672,197677,42435,197683,197714,197725,42436,42437,42438,42439,138628,42440,42441,42442,42443,88223,42348,85230,201159,42349,201239,42350,138271,138279,138280,201172,138282,138454,138502,138524,138526,138528,138538,138631,138559,138560,138581,138583,138597,138606,138614,126890,126885,126902,126908,126911,126925,126953,126975,126976,127006,130686,130931,130977,130990,130993,131015,131021,131028,131031,131025,131063,88348,94649,89110,89078,84722,84716,87817,84751,87895,84795,88910,84514,83932,85055,86434,138590,90627,90296,85769,87134,90025,87438,86727,89244,86483,89393,89936,85014,89736,89269,84742,89464,86800,88059,85250,85900,86235
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer igRGlHRLkXzYSufPhAjoFtN8qPv8JO7zwIXQBT03kaU27obDX1fq0ULVWdjjGFERI6eIddvtraIcblY6FylHkfojiE-b-iIZbLbY5PQ3QDi-ycqX3h9KKZR0QnYHJwqtfwiwtJPFqAlkk4QZvWlhlRnRksQweYFV3va6LQmYicSon0dMkeKbo8uwUZh128B912QXCeAMh03molgXOWmZAXw7aZ5tHII4rbDTmDpZxpTEdVonD07xeXTyGvbP3KzrIuimu7IyOhZ5eFYKbQALNG2ngOO6TQGheQGXy_vvfMYcuQqNzNOKYTmPxW3QFCoyOWgvMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[],"results":[{"productId":42348,"name":"Lightning
        Energy","cleanName":"Lightning Energy","imageUrl":"https://tcgplayer-cdn.tcgplayer.com/product/42348_200w.jpg","categoryId":3,"groupId":604,"url":"https://www.tcgplayer.com/product/42348/pokemon-base-set-lightning-energy","modifiedOn":"2022-01-28T04:38:40.307"},{"productId":42349,"name":"Psychic
        Energy","cleanName":"Psychic Energy","imageUrl":"https://tcgplayer-cdn.tcgplayer.com/product/42349_200w.jpg","categoryId":3,"groupId":604,"url":"https://www.tcgplayer.com/product/42349/pokemon-base-set-psychic-energy","modifiedOn":"2021-07-09T18:56:14.577"},{"productId":42350,"name":"Water
        Energy","cleanName":"Water Energy","imageUrl":"https://tcgplayer-cdn.tcgplayer.com/product/42350_200w.jpg","categoryId":3,"groupId"[...]
[...]
- request:
    method: get
    uri: https://api.tcgplayer.com/catalog/products/241676,241661,241682,241683,241687,241690,241830,241695,241697,241698,241705,241707,241715,241720,241723,241724,241726,241732,241733,241742,241743,241728,241751,241752,241760,241748,241749,241764,241777,241780,241763,241784,241786,241800,241801,241809,241811,241817,241820,241799,241835,241838,241841,241844,241847,241850,241852,241855,241861,241864,241832,241870,253129,253180,253224,253334,253373,253377,253351,253127,2[...]
