---
http_interactions:
- request:
    method: post
    uri: https://api.tcgplayer.com/catalog/categories/3/search
    body:
      encoding: UTF-8
      string: '{"sort":"ProductName ASC","limit":10,"offset":0,"filters":[{"name":"ProductName","values":["Alakazam"]}]}'
    headers:
      Authorization:
      - bearer IlGJZc-FZ0X3cWz-5sad9NHuqnr_RY5wZgVAf8rbMJa09V7e-wwj8VJWt7Q0j936TVmKVfUhxNpjTYzsZKni33a_5TzdSxSJgjEsSBf3nNG23m0ex2krog4anRhYEnU6X03DsppBhqTQuZplIM7gzKRiqO4TLQVFpBxQe92mCc6lSRFv4-6HwJJBuT8WPzWH_ppYHejQPnPVN0bCFTjOBQUbyKv_btXEQgP0rK2d40Ek8iN9sK9u31sS5Ut1G0zQcU6ENK0a3-HAZjxtY6q2WeDO2Rv81uqUXOjBCwRLugllTMV1Hpzaoex7qEpk-zigq2cCfA
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"totalItems":28,"success":true,"errors":[],"results":[42444,106996,42346,83496,83501,83499,83497,83500,83498,180715]}'
  recorded_at: Fri, 25 Feb 2022 20:50:49 GMT
recorded_with: VCR 6.0.0
