---
http_interactions:
- request:
    method: get
    uri: https://api.tcgplayer.com/pricing/product/85737,85736
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer JTqbICPfsVMl5egtoh6U-e7h0OcQhEmVVC4bBFaRyqDememptw3XEmq3x831WqY8cFC7JtzMtPEMDDDflNgZQ6khAikRwQ1XOOM5w4OiuHJJUGoTeGQl7UvNLi5dxORqj_BhIZKN3Lhw1UmWAjvVOTYEH3dXG6YDD-rgP4_sSqqsRQYProjlVXZkL-TBJcFdTM1DzMhnTSCU_YKhlerazhDIFRbfXiU1z--0RtIK5_k9gIZir2PnfzY_UzEZeL0jjQYL0DrqH6PI6SkO26vBJT-HXRoMKq2fDJla4HxYLx408Wp_F66ZZAT_7FHqyy1ZLsjX1w
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[],"results":[{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"Normal"},{"productId":85737,"lowPrice":4.00,"midPrice":6.71,"highPrice":8.61,"marketPrice":7.49,"directLowPrice":null,"subTypeName":"Holofoil"},{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"1st
        Edition"},{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"1st
        Edition Holofoil"},{"productId":85737,"lowPrice":4.99,"midPrice":5.63,"hi[...]
