---
http_interactions:
- request:
    method: get
    uri: https://api.tcgplayer.com/pricing/product/85737,85736
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer 6Qf-Gzp38teiDEgYC0lekuMHyMMBu9m0d4DvHfYYOp640dp-Li6JT5oRjcTcKIUi_bdw1oRPOWRDsE3ixvMJcJ5n4V-U4QVnb5NQoH7apEfC-8b-4889fE9KOtZ8WOa5N6gNAMUPY4x1g1ugAx226Nw0L05nzJR1GwG07xGdJqiArX1Mm8OG6roA4VHANNsVFqnvfttrqkbN1ddqA1ttCTPVi1-EaYS4Erlsa4NXDfv57fmBfD3b65WDi3YOjQE-syIW5eRirXg1hhU4fkIx_r2r7KPdvKBQZI2mmfetfe-nJmL62NK48RofYZTcxm4AizJSpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[],"results":[{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"Normal"},{"productId":85737,"lowPrice":4.00,"midPrice":6.69,"highPrice":8.61,"marketPrice":8.61,"directLowPrice":null,"subTypeName":"Holofoil"},{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"1st
        Edition"},{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"1st
        Edition Holofoil"},{"productId":85737,"lowPrice":4.99,"midPrice":5.63,"hi[...]
