---
http_interactions:
- request:
    method: post
    uri: https://api.tcgplayer.com/catalog/categories/3/search
    body:
      encoding: UTF-8
      string: '{"sort":"ProductName ASC","limit":10,"offset":0,"filters":[{"name":"ProductName","values":["Alakazam"]}]}'
    headers:
      Authorization:
      - bearer JTqbICPfsVMl5egtoh6U-e7h0OcQhEmVVC4bBFaRyqDememptw3XEmq3x831WqY8cFC7JtzMtPEMDDDflNgZQ6khAikRwQ1XOOM5w4OiuHJJUGoTeGQl7UvNLi5dxORqj_BhIZKN3Lhw1UmWAjvVOTYEH3dXG6YDD-rgP4_sSqqsRQYProjlVXZkL-TBJcFdTM1DzMhnTSCU_YKhlerazhDIFRbfXiU1z--0RtIK5_k9gIZir2PnfzY_UzEZeL0jjQYL0DrqH6PI6SkO26vBJT-HXRoMKq2fDJla4HxYLx408Wp_F66ZZAT_7FHqyy1ZLsjX1w
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"totalItems":28,"success":true,"errors":[],"results":[42444,106996,83496,42346,83501,83499,83497,83500,83498,180715]}'
  recorded_at: Sat, 26 Feb 2022 00:43:57 GMT
recorded_with: VCR 6.0.0
