---
http_interactions:
- request:
    method: get
    uri: https://api.tcgplayer.com/catalog/products/42444,42346,83496,106996,83501,83499,83497,83500,83498,180715,83503,83504,117512,117889,117896,117863,83502,226606,228981,228980,228979,251560,84559,84560,118332,117515,117890,88866
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer JTqbICPfsVMl5egtoh6U-e7h0OcQhEmVVC4bBFaRyqDememptw3XEmq3x831WqY8cFC7JtzMtPEMDDDflNgZQ6khAikRwQ1XOOM5w4OiuHJJUGoTeGQl7UvNLi5dxORqj_BhIZKN3Lhw1UmWAjvVOTYEH3dXG6YDD-rgP4_sSqqsRQYProjlVXZkL-TBJcFdTM1DzMhnTSCU_YKhlerazhDIFRbfXiU1z--0RtIK5_k9gIZir2PnfzY_UzEZeL0jjQYL0DrqH6PI6SkO26vBJT-HXRoMKq2fDJla4HxYLx408Wp_F66ZZAT_7FHqyy1ZLsjX1w
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[],"results":[{"productId":42346,"name":"Alakazam","cleanName":"Alakazam","imageUrl":"https://tcgplayer-cdn.tcgplayer.com/product/42346_200w.jpg","categoryId":3,"groupId":604,"url":"https://www.tcgplayer.com/product/42346/pokemon-base-set-alakazam","modifiedOn":"2021-10-07T12:55:24.89"},{"productId":42444,"name":"Alakazam","cleanName":"Alakazam","imageUrl":"https://tcgplayer-cdn.tcgplayer.com/product/42444_200w.jpg","categoryId":3,"groupId":605,"url":"https://www.tcgplayer.com/product/42444/pokemon-base-set-2-alakazam","modifiedOn":"2015-10-06T14:28:03.23"},{"productId":83496,"name":"Alakazam","cleanName":"Alakazam","imageUrl":"https://tcgplayer-cdn.tcgplayer.com/product/83496_200w.jpg","categoryId":3,"groupId":1374,"url":"https://www.tcgplayer.com/pro[...]
