---
http_interactions:
- request:
    method: get
    uri: https://api.tcgplayer.com/pricing/product/85737,85736
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer IlGJZc-FZ0X3cWz-5sad9NHuqnr_RY5wZgVAf8rbMJa09V7e-wwj8VJWt7Q0j936TVmKVfUhxNpjTYzsZKni33a_5TzdSxSJgjEsSBf3nNG23m0ex2krog4anRhYEnU6X03DsppBhqTQuZplIM7gzKRiqO4TLQVFpBxQe92mCc6lSRFv4-6HwJJBuT8WPzWH_ppYHejQPnPVN0bCFTjOBQUbyKv_btXEQgP0rK2d40Ek8iN9sK9u31sS5Ut1G0zQcU6ENK0a3-HAZjxtY6q2WeDO2Rv81uqUXOjBCwRLugllTMV1Hpzaoex7qEpk-zigq2cCfA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[],"results":[{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"Normal"},{"productId":85737,"lowPrice":4.00,"midPrice":6.71,"highPrice":8.61,"marketPrice":7.49,"directLowPrice":null,"subTypeName":"Holofoil"},{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"1st
        Edition"},{"productId":85737,"lowPrice":null,"midPrice":null,"highPrice":null,"marketPrice":null,"directLowPrice":null,"subTypeName":"1st
        Edition Holofoil"},{"productId":85737,"lowPrice":4.99,"midPrice":5.63,"hi[...]
